In [1]:
import pandas as pd

### Pandas 的 DataFrame 对象

In [3]:
air_price = {
    '北京':1750,
    '南京':860,
    '西安':975,}
air_series = pd.Series(air_price)
air_series

北京    1750
南京     860
西安     975
dtype: int64

In [4]:
area_dict = {
    '北京':'天安门',
    '南京':'总统府',
    '西安':'钟鼓楼'}
area_series = pd.Series(area_dict)
area_series

北京    天安门
南京    总统府
西安    钟鼓楼
dtype: object

In [5]:
info = pd.DataFrame({'price':air_series,
                     'area':area_series})
info

    price area
北京   1750  天安门
南京    860  总统府
西安    975  钟鼓楼

In [6]:
info.index

Index(['北京', '南京', '西安'], dtype='object')

In [7]:
info.columns

Index(['price', 'area'], dtype='object')

In [8]:
# df 是特殊的字典
info['price']

北京    1750
南京     860
西安     975
Name: price, dtype: int64