In [14]:
import pandas as pd 
import numpy as np

### 创建DataFrame对象

In [4]:
game_name = pd.Series({
    'fc':'松鼠大作战',
    'sega':'三国战记',
    'psp':'啪嗒砰3',
    'ps':'血源诅咒',
    'pc':'GTA3',})
pd.DataFrame(game_name,columns=['game'])

       game
fc    松鼠大作战
sega   三国战记
psp    啪嗒砰3
ps     血源诅咒
pc     GTA3

In [9]:
# 列的名字一定是字典的键
data = [{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [11]:
# NaN 缺失值  （Not a Number）
pd.DataFrame([
    {'a':1,'b':2},
    {'b':3,'c':4}
])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [13]:
game_name = pd.Series({
    'fc':'松鼠大作战',
    'sega':'三国战记',
    'psp':'啪嗒砰3',
    'ps':'血源诅咒',
    'pc':'GTA3',})
game_time = pd.Series(
    {'fc':'1990',
    'sega':'1999',
    'psp':'2011',
    'ps':'2015',
    'pc':'2018',})
pd.DataFrame({'game':game_name,'time':game_time})

       game  time
fc    松鼠大作战  1990
sega   三国战记  1999
psp    啪嗒砰3  2011
ps     血源诅咒  2015
pc     GTA3  2018

In [15]:
x = np.random.rand(3,2)
x

array([[0.17237492, 0.55470371],
       [0.12395291, 0.3349866 ],
       [0.11345211, 0.24949661]])

In [17]:
pd.DataFrame(x,index=['a','b','c'],columns=['foo','bar'])

        foo       bar
a  0.172375  0.554704
b  0.123953  0.334987
c  0.113452  0.249497